# Ignore raw and cleaned data
data/raw/
data/cleaned/

# Ignore generated outputs
output/reports/
output/charts/

# Ignore temporary files
*.log
*.tmp
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Ignore local environment config
.env
.venv/
poetry.lock
